* {
  font-family: sans-serif; 
}


body {
	background: #f6f5f7;
	display: flex;
	
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}



button {
	border-radius: 20px;
	border: 1px solid #FF8C00;
	background-color: #FF8C00;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: #FF8C00;
	border-color: #FF8C00;
}
.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%,-35%);
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 15px 10px rgba(0,0,0,0.22);
  width: 700px;
	max-width: 100%;
	min-height: 620px;
}




 .add{
	text-align: right;
	
}



    }

   div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

ul.no-bullets {
  list-style-type: none;
 
}
    
 .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1px;
  background-color: #ffffff;
  padding: 1px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
}